@font-face {
    font-family: 'oswaldbold';
    src: url('oswald-bold-webfont.eot');
    src: url('oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('oswald-bold-webfont.woff2') format('woff2'),
    url('oswald-bold-webfont.woff') format('woff'),
    url('oswald-bold-webfont.ttf') format('truetype'),
    url('oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('oswald-light-webfont.eot');
    src: url('oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('oswald-light-webfont.woff2') format('woff2'),
    url('oswald-light-webfont.woff') format('woff'),
    url('oswald-light-webfont.ttf') format('truetype'),
    url('oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldmedium';
    src: url('oswald-medium-webfont.eot');
    src: url('oswald-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('oswald-medium-webfont.woff2') format('woff2'),
    url('oswald-medium-webfont.woff') format('woff'),
    url('oswald-medium-webfont.ttf') format('truetype'),
    url('oswald-medium-webfont.svg#oswaldmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_captionbold';
    src: url('ptc75f-webfont.eot');
    src: url('ptc75f-webfont.eot?#iefix') format('embedded-opentype'),
    url('ptc75f-webfont.woff2') format('woff2'),
    url('ptc75f-webfont.woff') format('woff'),
    url('ptc75f-webfont.ttf') format('truetype'),
    url('ptc75f-webfont.svg#pt_sans_captionbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('ptn77f-webfont.eot');
    src: url('ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
    url('ptn77f-webfont.woff2') format('woff2'),
    url('ptn77f-webfont.woff') format('woff'),
    url('ptn77f-webfont.ttf') format('truetype'),
    url('ptn77f-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('pts76f-webfont.eot');
    src: url('pts76f-webfont.eot?#iefix') format('embedded-opentype'),
    url('pts76f-webfont.woff2') format('woff2'),
    url('pts76f-webfont.woff') format('woff'),
    url('pts76f-webfont.ttf') format('truetype'),
    url('pts76f-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('pts75f-webfont.eot');
    src: url('pts75f-webfont.eot?#iefix') format('embedded-opentype'),
    url('pts75f-webfont.woff2') format('woff2'),
    url('pts75f-webfont.woff') format('woff'),
    url('pts75f-webfont.ttf') format('truetype'),
    url('pts75f-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('sourcesanspro-bold-webfont.woff') format('woff'),
    url('sourcesanspro-bold-webfont.ttf') format('truetype'),
    url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('sourcesanspro-semibold-webfont.woff') format('woff'),
    url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
    url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('sourcesanspro-regular-webfont.woff') format('woff'),
    url('sourcesanspro-regular-webfont.ttf') format('truetype'),
    url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}